[Unit]
Description=Sensor service management
After=mosquitto.service rethinkdb.service network-online.target
Wants=network-online.target
PartOf=rethinkdb.service network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sensorservice -c /etc/sensorservice/config.json
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
